{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["module-resolver", {
      "root": ["./js"],
      "alias": {
        "@": "./js",
        "@components": "./js/components",
        "@styles":  "./js/styles",
        "@assets":  "./assets",
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
